<div class="container my-4">

    <h4 class="border-bottom font-weight-bolder py-3">Edytuj poradnik</h4>

   <app-tutorial-form [editing]="true" [tutorialid]="this.tutorialid" (onSubmitForm)="this.onSubmitForm($event)"></app-tutorial-form>
</div>