<div class="row">
    <div class="col-sm-12">

        <h5 class="border-bottom font-weight-bolder py-3">Recenzje użytkowników</h5>

        <div *ngIf="!comments" class="d-flex justify-content-center my-5"><div class="spinner-border text-primary spinner-big" role="status"><span class="sr-only">Loading...</span></div></div>

        <p *ngIf="comments && comments.length == 0" class="d-flex">Nikt nie dodał jeszcze recenzji do tego poradnika.</p>

        <div *ngFor="let comment of comments" class="row">
            <div class="col-sm-12 comment-container">
                
                <div class="text-right">
                    <app-mod-comment [commentContent]="comment.content" [commentid]="comment.id" (onChangeCommentsList)="this.afterAddComment()"></app-mod-comment>
                </div>

                <p class="mb-1 font-style-italic">{{ comment.content }} </p>

                <div class="row font-size-12 mb-1">
                    <div class="col-sm-6">
                        Przydatność:
                        <app-rating [readonly]="true" [rate]="comment.usefulness" max="5" adClass="success" ></app-rating>
                    </div>
                    <div class="col-sm-6 text-sm-right">
                        Trudność: 
                        <app-rating [readonly]="true" [rate]="comment.difficulty" max="5" adClass="danger"></app-rating>
                    </div>
                </div>

                <app-comments-gallery *ngIf="comment.files" [photoJSON]="comment.files"></app-comments-gallery>

                <div class="row mb-1">
                    <div class="col-sm-6">
                        <small class="text-muted">przez <strong>{{ comment.user_username }}</strong></small>
                    </div>
                    <div class="col-sm-6 text-right">
                        <small class="text-muted">{{ comment.created | date:'short' }}</small>
                    </div>
                </div>

                <div class="border-bottom mb-3"></div>
            </div>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-sm-12 mt-4">
        <ngb-pagination class="d-flex justify-content-center" *ngIf="commentsSize"
            [(page)]="page"
            [pageSize]="pageSize"
            [collectionSize]="commentsSize"
            (pageChange)="onPageChange()">
        </ngb-pagination>
    </div>
</div>