<div class="container my-4">

    <h4 class="border-bottom font-weight-bolder py-3">{{ category.name }}</h4>

	<div class="row">
		<div class="col-lg-9 col-xl-8">
			<div *ngIf="subCategories && subCategories.length">
				Podkategorie: <button *ngFor="let subcategory of subCategories" [routerLink]="'/categories/'+subcategory.id" type="button" class="btn btn-outline-primary mr-1 mb-1">{{ subcategory.name }}</button>
			</div>
		</div>
		<div class="col-lg-3 col-xl-4 text-right">
			<app-sort-form (onValueChange)="this.onChangeSort($event)"></app-sort-form>
		</div>
	</div>
    

	<div *ngIf="!tutorials" class="d-flex justify-content-center my-5"><div class="spinner-border text-primary spinner-big" role="status"><span class="sr-only">Loading...</span></div></div>

	<h5 *ngIf="tutorials && tutorials.length == 0" class="d-flex justify-content-center my-5">Nie znaleziono żadnych poradników w tej kategorii...</h5>

    <div class="row">
        <div class="col-sm-12">
			<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">

				<div class="col" *ngFor="let tutorial of tutorials" >
					<app-tutorial-card [tutorial]="tutorial"></app-tutorial-card>
				</div>
			
			</div>
		</div>
    </div>

	<div class="row">
		<div class="col-sm-12 mt-4">
			<ngb-pagination class="d-flex justify-content-center" *ngIf="tutorialsSize"
  				[(page)]="page"
  				[pageSize]="pageSize"
  				[collectionSize]="tutorialsSize"
				(pageChange)="onPageChange()">
			</ngb-pagination>
		</div>
	</div>

</div>
