<div class="form-inline justify-content-end">
    <label class="my-1 mr-2" for="sortSelect">Sortuj</label>
    <select [value]="this.startValue" (change)="this.onChange($event)" class="custom-select my-1 mr-sm-2" id="sortSelect">
        <option value="added">Najnowsze</option>
        <option value="views">Najwięcej wyświetleń</option>
        <option value="comments">Najwięcej komentarzy</option>
    </select>
</div>