<div class="container my-4">

    <h4 class="border-bottom font-weight-bolder py-3">Dokończ rejestrację w serwisie</h4>

	<div *ngIf="this.loading" class="d-flex justify-content-center my-5"><div class="spinner-border text-primary spinner-big" role="status"><span class="sr-only">Loading...</span></div></div>

    <div *ngIf="this.confirmed" class="alert alert-success" role="alert">
        Dziękujemy za rejestrację! Twoje konto zostało aktywowane i możesz już zalogować się w serwisie.
    </div>

    <div *ngIf="this.confirmed" class="text-center mt-4">
        <a routerLink="/login" class="font-weight-bold btn btn-sm btn-success">Zaloguj się</a>
    </div>

</div>