<div class="container my-4">

    <h4 class="border-bottom font-weight-bolder py-3">Ustaw nowe hasło</h4>

	<div *ngIf="this.loading" class="d-flex justify-content-center my-5"><div class="spinner-border text-primary spinner-big" role="status"><span class="sr-only">Loading...</span></div></div>

    <div *ngIf="this.confirmed" class="alert alert-success" role="alert">
        Twoje hasło zostało zmienione. Teraz możesz się zalogować!
    </div>

    <form [formGroup]="resetForm" class="user">
        <div class="form-group">
            <input type="password" formControlName="password" class="form-control form-control-user"
                id="passwordInput" placeholder="Nowe hasło" [class.is-invalid]="!resetForm.get('password').valid" required>
        </div>
        <div class="form-group">
            <input type="password" formControlName="confirmPassword" class="form-control form-control-user"
                id="confirmPasswordInput" placeholder="Potwierdź nowe hasło" [class.is-invalid]="!resetForm.get('confirmPassword').valid || resetForm.errors?.notSame" required>
            <div *ngIf="resetForm.errors?.notSame" class="invalid-feedback">
                Hasła nie są identyczne!
            </div>
        </div>
        <button [disabled]="!this.resetForm.valid" (click)="this.onSubmitResetForm()" class="btn btn-success btn-block rounded-pill">Zmień hasło</button>
    </form>

    <div *ngIf="this.confirmed" class="text-center mt-4">
        <hr>
        <div class="text-center">
            <a class="small" routerLink="/login" href="#">Zaloguj się!</a>
        </div>
    </div>

</div>