<div class="col bg-secondary text-light rounded py-2">
    <span class="font-weight-bold">Wyszukiwanie</span>
    <form [formGroup]="this.searchForm">
        <div class="form-inline">
            <div class="input-group mr-2 mb-2">
                <input class="form-control form-control-sm" type="search" formControlName="text" placeholder="Wyszukiwana fraza..." aria-label="Szukaj" aria-describedby="button-addon2">
            </div>

            <div class="input-group mr-2 mb-2">
                <select class="form-control form-control-sm" formControlName="categoryid" (change)="this.onChangeCategory($event.target.value)">
                    <option value="">Wszystkie kategorie</option>
                    <ng-template ngFor let-category [ngForOf]="this.searchCategories">
                        <option value="{{category.id}}">{{category.name}}</option>
                        <option *ngFor="let children of category.childrens" value="{{ children.id }}">&nbsp;&nbsp;- {{ children.name }}</option>
                    </ng-template>
                </select>
            </div>

            <div class="input-group mr-2 mb-2">
                <select class="form-control form-control-sm" formControlName="type">
                    <option value="">Wszystkie typy</option>
                    <option value="{{ this.tutorialTypes.Video }}">Wideo</option>
                    <option value="{{ this.tutorialTypes.Text }}">Tekstowe</option>
                </select>
            </div>

            <div class="input-group mr-2 mb-2">
                <select class="form-control form-control-sm" formControlName="language">
                    <option value="">Dowolny język</option>
                    <option value="pl">Polski</option>
                    <option value="us">Angielski</option>
                </select>
            </div>

            <button (click)="this.onSubmitSearchForm()" class="btn btn-sm btn-primary mr-2 mb-2 font-weight-bold" type="submit" id="button-addon2"><i class="bi bi-search"></i> Szukaj</button>
            <button (click)="this.onClearSearchForm()" class="btn btn-sm btn-dark mb-2" type="submit" id="button-clear"><i class="bi bi-x-circle"></i></button>
        </div>

        <div class="form-inline" formArrayName="extrafields">
            
            <div class="input-group mr-2 mb-2" *ngFor="let extrafield of this.extraFields; let i = index">
                <select *ngIf="extrafield.type == this.extraFieldTypes.Options" class="form-control form-control-sm" [formControlName]="i" id="extrafield_{{ extrafield.id }}" name="extrafields[]">
                    <option value="">{{ extrafield.name }}</option>
                    <option *ngFor="let option of extrafield.options" value="{{ option }}">{{ option }}</option>
                </select>
                <input *ngIf="extrafield.type == this.extraFieldTypes.ShortText" type="text" class="form-control form-control-sm" [formControlName]="i" id ="extrafield_{{ extrafield.id }}" name="extrafields[]"
                    placeholder="{{ extrafield.name }}" />
            </div>
            
        </div>

    </form>
</div>