<div>
    <div *ngIf="this.files" class="p-grid">
        
        <img *ngFor="let image of this.files; let index = index;" [src]="image" [alt]="image" class="comment-thumbnail img-thumbnail mr-1 mb-1" style="cursor: pointer" (click)="showGallery(index)"/>
        
    </div>
</div>