<div class="container my-4">

    <h4 class="border-bottom font-weight-bolder py-3">{{ (tutorial) ? tutorial.title : "" }}</h4>

	<div *ngIf="!tutorial" class="d-flex justify-content-center my-5"><div class="spinner-border text-primary spinner-big" role="status"><span class="sr-only">Loading...</span></div></div>

    <div *ngIf="tutorial" class="row">
        <div class="col-sm-12">

            <app-mod-tutorial-bar [tutorial]="this.tutorial" (onReloadTutorial)="this.reloadTutorial()"></app-mod-tutorial-bar>

            <div class="card shadow-sm my-3">
                
                <app-tutorial-card-video [tutorial]="this.tutorial"></app-tutorial-card-video>
                
                <div class="card-body">
                    <div *ngIf="tutorial.type == 2" [innerHTML]="tutorial.content | safeHtml"></div>
                   
                    <hr />
                    <div class="position-relative">
                        <app-favorite-btn [favorite]="this.isFavorite" [tutorialid]="tutorial.id"></app-favorite-btn>

                        <p *ngIf="extra_fields">
                            <span *ngFor="let field of extra_fields | keyvalue"><strong>{{ field.key }}: </strong>{{ field.value }}<br /></span>
                        </p>

                        <p *ngIf="tutorial.tags">
                            <a *ngFor="let tag of tutorial.tags.split(',')" [routerLink]="'/tutorials/tag/'+tag" href="#" class="badge badge-secondary mr-1 my-1">{{ tag }}</a>
                        </p>

                        <div class="clearfix"></div>
                    </div>

                    <p class="card-text">{{ tutorial.description }}</p>

                    <div class="card-text">
                        <div class="row mb-1">
                            <div class="col-sm-6">
                                <small class="font-weight-bold">Przydatność: <span class=" text-success">{{ (tutorial.avg_usefullness | number:'1.0-1':'en-US') || '-' }} / 5</span></small>
                            </div>
                            <div class="col-sm-6 text-sm-right">
                                <small class="font-weight-bold">Trudność: <span class="text-danger">{{ (tutorial.avg_difficulty | number:'1.0-1':'en-US') || tutorial.difficulty }} / 5</span></small>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <small class="text-muted">Dodano {{ tutorial.created | date:'shortDate' }} do <a [routerLink]="'/categories/'+tutorial.categoryid">{{ tutorial.category_name || "" }}</a> przez <strong><a [routerLink]="'/user/preview/'+tutorial.userid">{{ tutorial.user_username }}</a></strong></small>
                            </div>
                            <div class="col text-right">
                                <small class="text-muted mr-2"><i class="bi bi-chat"></i> {{ commentsCnt }}</small>
                                <small class="text-muted"><i class="bi bi-eye"></i> {{ tutorial.views }}</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
				
		</div>
    </div>

    <div class="row">
        <div *ngIf="tutorial" class="col-sm-12">

            <app-comments-list #commentslist [tutorialid]="tutorial.id" (onCommentsSizeChange)="this.onCommentsSizeChange($event)"></app-comments-list>

            <app-comment-add *ngIf="user; else notLoggged" [tutorialid]="tutorial.id" (afterAddComment)="this.commentslist.afterAddComment()"></app-comment-add>

            <ng-template #notLoggged>
                <p class="text-center"><a routerLink="/login" [queryParams]="{redirect_url: '/tutorials/'+tutorial.id}">Zaloguj się</a>, aby dodać własną recenzję!</p>
            </ng-template>

        </div>
    </div>

</div>
