<div class="">

	<div class="container">

		<!-- Outer Row -->
		<div class="row justify-content-center">

			<div class="col-xl-10 col-lg-12 col-md-9">

				<div class="card o-hidden border-0 shadow-lg my-5">
					<div class="card-body p-0">
						<!-- Nested Row within Card Body -->
						<div class="row">
							<div class="col-lg-12">
								<div class="p-5">
									<div class="text-center">
										<h1 class="h4 text-gray-900 mb-4">Witaj ponownie!</h1>
									</div>

									<div *ngIf="errorMessage" class="alert alert-danger" role="alert">{{ errorMessage }}</div>
									<div *ngIf="successMessage" class="alert alert-success" role="alert">{{ successMessage }}</div>

									<form [formGroup]="loginForm" class="user">
										<div class="form-group">
											<input type="email" formControlName="email" class="form-control form-control-user"
												id="emailInput" aria-describedby="emailHelp"
												placeholder="Podaj adres email">
										</div>
										<div class="form-group">
											<input type="password" formControlName="password" class="form-control form-control-user"
												id="passwordInput" placeholder="Hasło">
										</div>
										<div class="form-group">
											<div class="custom-control custom-checkbox">
												<input type="checkbox" formControlName="remember" class="custom-control-input" id="rememberCheckbox" value="1">
												<label class="custom-control-label" for="rememberCheckbox">Nie wylogowuj mnie</label>
											</div>
										</div>
										<a (click)="this.onSubmitLoginForm()" class="btn btn-success btn-block rounded-pill">Zaloguj się</a>
									</form>
									<hr>
									<div class="text-center">
										<a class="small" routerLink="/user/remind-password" href="#">Zapomniałeś hasła?</a>
									</div>
									<div class="text-center">
										<a class="small" routerLink="/register" href="#">Stwórz konto!</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>

		</div>

	</div>

</div>