<div class="container my-4">

    <h4 class="border-bottom font-weight-bolder py-3">Kontakt</h4>

    <div class="row">

		<div class="col">
            <div class="card">
                <div class="card-body">
                    <strong>Dane kontaktowe: </strong><br />
                    Szymon Karolczuk<br />
                    <a href="mailto:szymonk1101@gmail.com">szymonk1101@gmail.com</a>

                </div>
            </div>
        </div>

    </div>

</div>
