<div *ngIf="tutorial && user && user.isadmin === true">
    <span *ngIf="tutorial.updated">Zmodyfikowano: {{ tutorial.updated | date: 'short' }}<br /></span>
    <span *ngIf="tutorial.reason">Powód odrzucenia: <i>{{ tutorial.reason }}</i><br /></span>
    Moderacja:
    <span class="font-weight-bold text-danger" *ngIf="tutorial.status == tutorialStatus.Rejected">Ten poradnik został usunięty.</span>
    <button (click)="onClickAcceptBtn()" *ngIf="tutorial.status == tutorialStatus.Pending" class="btn btn-sm btn-success">Zatwierdź poradnik</button>&nbsp;
    <button (click)="onClickRejectBtn()" *ngIf="tutorial.status != tutorialStatus.Rejected" class="btn btn-sm btn-danger">Odrzuć/Usuń poradnik</button>&nbsp;
    <button (click)="onClickForImprovementBtn()" *ngIf="tutorial.status == tutorialStatus.Pending" class="btn btn-sm btn-warning">Wyślij do poprawy</button>
</div>
