<div class="container my-4">

    <h4 class="border-bottom font-weight-bolder py-3">Kategorie</h4>

    <div class="row">

		<div *ngFor="let category of categories" class="col-sm-6">
			<div class="card shadow-sm my-3">
				<div class="card-body">
					<h5 class="card-title font-weight-bold"><a [routerLink]="'/categories/'+category.id">{{ category.name }}</a></h5>
					
					<ul>
                        <li *ngFor="let children of category.childrens"><a [routerLink]="'/categories/'+children.id">{{ children.name }}</a></li>
                    </ul>
				</div>
			</div>
        </div>

    </div>

</div>
