.favorite-btn i {
    font-size: 26px;
    cursor: pointer;
    display: inline-block;
    transition: transform 0.5s;
}

.favorite-btn .fill {
    color: #f24040 !important;
    animation-name: favouriteFill;
    animation-duration: 0.8s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
}

.favorite-btn i:hover {
    color: #f24040;
    transform: scale(1.2);
    
}

@keyframes favouriteFill {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1.2);
    }
}
