<header class="container-fluid py-4">
	<div class="container">
		<div class="row logo-container">
			<div class="col-sm-3 font-weight-bold logo">
				TutBase
			</div>
			<div class="col-sm-9 mt-3 mt-sm-0 text-sm-right">
				<div *ngIf="user; else notUser">
					Witaj, <span class="font-weight-bold ">{{ user.username }}</span>
					<a routerLink="/user/profile" class="font-weight-bold btn btn-sm btn-info mx-2">Profil</a>
					<a class="font-weight-bold btn btn-sm btn-danger" href="#" (click)="logout()">Wyloguj się</a>
				</div>
				<ng-template #notUser>
					<a class="font-weight-bold btn btn-sm btn-success" routerLink="/login">Zaloguj się</a> | <a class="font-weight-bold btn btn-sm btn-secondary" routerLink="/register">Zarejestruj się</a>
				</ng-template>
			</div>
		</div>
	</div>
</header>

<div class="container">
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary rounded shadow-sm">
		<button #navbartoggler id="main-navbar-toggler" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
			aria-controls="navbarNavAltMarkup" aria-label="Pokaż menu"
			(click)="collapse.toggle()" [attr.aria-expanded]="!isMenuCollapsed">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div #collapse="ngbCollapse" [(ngbCollapse)]="isMenuCollapsed" class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div id="main-navbar" class="navbar-nav" (click)="this.clickNavbar()">
				<a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Strona główna</a>
				<a class="nav-link" routerLink="/categories" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Kategorie</a>
				<a class="nav-link" routerLink="/tutorials/add" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Dodaj poradnik</a>
				<a class="nav-link" routerLink="/contact" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Kontakt</a>
				<a *ngIf="user" class="nav-link font-weight-bolder" routerLink="/favorite" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Ulubione</a>
				<a *ngIf="user && user.isadmin === true" class="nav-link text-danger font-weight-bolder" routerLink="/admin" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Admin</a>
			</div>
		</div>
		
		<button class="btn btn-sm btn-secondary my-2 my-sm-0" type="button" data-toggle="collapse" (click)="searchCollapse.toggle()" [attr.aria-expanded]="!isSearchCollapsed" aria-controls="collapseExample"><i class="bi bi-search"></i></button>	
	</nav>
	<div #searchCollapse="ngbCollapse" [(ngbCollapse)]="isSearchCollapsed" class="collapse">
		<app-search-bar></app-search-bar>
	</div>
</div>

<div class="container-fluid">

	<router-outlet></router-outlet>

</div>

<div class="container-fluid bg-secondary py-4 text-light">
	<footer class="container text-center">&copy; 2021 Szymon Karolczuk</footer>
</div>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
