<div class="card shadow-sm my-3">
    <app-tutorial-card-video [tutorial]="this.tutorial"></app-tutorial-card-video>

    <div class="card-body">
        <h5 class="card-title font-weight-bold"><a href="#" [routerLink]="'/tutorials/'+tutorial.id">{{ tutorial.title }}</a></h5>
        <p class="card-text">{{ tutorial.description }}</p>
         
        <p class="my-0" *ngIf="extra_fields">
            <small *ngFor="let field of extra_fields | keyvalue"><strong>{{ field.key }}: </strong>{{ field.value }} </small>
        </p>

        <p class="my-0" *ngIf="tutorial.tags">
            <a *ngFor="let tag of tutorial.tags.split(',')" [routerLink]="'/tutorials/tag/'+tag" href="#" class="badge badge-secondary mr-1 my-1">{{ tag }}</a>
        </p>
        
        <div class="row">
            <div class="col-9">
                <p class="card-text"><small class="text-muted">Dodano {{ tutorial.created | date:'shortDate' }} do <a [routerLink]="'/categories/'+tutorial.categoryid">{{ tutorial.category_name || "" }}</a></small></p>
            </div>
            <div class="col-3 text-right">
                <img class="tutorial-card-flag" src="assets/flags/{{ tutorial.lang }}.svg" [alt]="tutorial.lang" />
            </div>
        </div>
        <div *ngIf="this.editButton === true" class="row">
            <div *ngIf="this.reason && tutorial.reason" class="col-12 mt-3 card-text">
                <small><b>Powód odrzucenia: </b>{{ tutorial.reason }}</small>
            </div>
            <div class="col-12 mt-3 text-right card-text text-muted">
                <small [routerLink]="'/tutorials/edit/'+tutorial.id" class="pointer"><i class="bi bi-pencil-square"></i> Edytuj</small>
            </div>
        </div>
        
    </div>
</div>