<div>
    <h4 class="border-bottom font-weight-bolder py-3">Statystyki</h4>

    <p>Nasza baza zawiera <strong>{{ active_tutorials_cnt }}</strong> dostępnych materiałów.<br />
    Społeczność tworzy <strong>{{ users_cnt }}</strong> użytkowników.<br />
    Ostatnio dołączył do nas <strong><a [routerLink]="'/user/preview/'+newest_user_id">{{ newest_user_username }}</a></strong></p>
</div>
