<div *ngIf="this.tutorial.url" class="card-img-top embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" [src]="this.tutorial.url | videoSrcSafe" allowfullscreen></iframe>
</div>

<div *ngIf="this.tutorial.type == 1 && !this.tutorial.url && this.tutorial.filename" class="card-img-top embed-responsive embed-responsive-16by9">
    <video class="embed-responsive-item" controls allowfullscreen>
        <source [src]="this.files_url + this.tutorial.filename | videoSrcSafe" />
    </video>
</div>