<h5 class="py-1">Napisz własną recenzję</h5>

<form class="user" [formGroup]="this.commentAddForm">

    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                <span>*Przydatność:</span>
                <br />
                <app-rating [readonly]="false" [(rate)]="usefulness" max="5" adClass="success"></app-rating>
            </div>

            <div class="form-group">
                <span>*Trudność:</span>
                <br />
                <app-rating [readonly]="false" [(rate)]="difficulty" max="5" adClass="danger"></app-rating>
            </div>
        </div>

        <div class="col-sm-9">
            <div class="form-group">
                <label for="comment_content">*Komentarz:</label>
                <textarea formControlName="content" id="comment_content" name="comment_content" #comment_content class="form-control form-control-user" rows="4"></textarea>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3">
            Zdjęcia z Twojej pracy
        </div>
        <div class="col-sm-3">
            <input type="file" class="form-control-file" id="photos" (change)="this.onFileChange($event)" [accept]="this.accept_formats.join(',')" multiple="true" />
        </div>
        <div class="col-sm-6">
            <ul>
                <li *ngFor="let file of this.photosFiles; let i = index">{{ file.name }} <a class="btn btn-sm btn-secondary mb-1" (click)="this.onDeleteFile(i)">Usuń</a></li>
            </ul>
        </div>
        
    </div>

    <div class="row mt-2">
        <div class="col-sm-3">

        </div>
        <div class="col-sm-9">
            <small>Dodając zdjęcia oświadczasz, że jesteś ich właścicielem lub posiadasz prawa do ich rozpowszechniania.</small>
        </div>
    </div>

    <div class="text-center mt-4">
        <a (click)="this.onSubmitComment()" class="btn btn-success rounded-pill px-5">Dodaj recenzję</a>
    </div>
    
</form>