<div class="container my-4">

    <h4 class="border-bottom font-weight-bolder py-3">Twój profil</h4>

    <ul ngbNav #nav="ngbNav" class="nav-tabs">
        <li ngbNavItem>
            <a ngbNavLink>Profil</a>
            <ng-template ngbNavContent>
                <div class="row py-4">
                    <div *ngIf="this.user" class="col">
                        <strong>Pseudonim:</strong> {{ user.username }}<br />
                        <strong>E-mail:</strong> {{ user.email }}<br />
                        <strong>Data dołączenia:</strong> {{ user.regdate | date: 'dd.MM.YYYY' }}<br />
                    </div>
                </div>
            </ng-template>
        </li>
        <li ngbNavItem>
            <a ngbNavLink>Hasło</a>
            <ng-template ngbNavContent>
                <div class="row py-4">
                    <div class="col">

                        <div *ngIf="successMessage" class="alert alert-success" role="alert">{{ successMessage }}</div>

                        <form [formGroup]="this.changePasswordForm">
                            <div class="form-group">
                                <label for="password">Aktualne hasło</label>
                                <input type="password" formControlName="password" class="form-control" id="password" placeholder="Twoje hasło"
                                    [class.is-invalid]="!this.changePasswordForm.get('password').valid" required>
                            </div>
                            <div class="form-group">
                                <label for="new_password">Nowe hasło</label>
                                <input type="password" formControlName="newPassword" class="form-control" id="new_password" placeholder="Nowe hasło"
                                    [class.is-invalid]="!this.changePasswordForm.get('newPassword').valid" required>
                            </div>
                            <div class="form-group">
                                <label for="new_password_confirm">Potwierdź nowe hasło</label>
                                <input type="password" formControlName="newPasswordConfirm" class="form-control" id="new_password_confirm" placeholder="Potwierdź nowe hasło"
                                    [class.is-invalid]="!this.changePasswordForm.get('newPasswordConfirm').valid || this.changePasswordForm.errors?.notSame" required>
                                <div *ngIf="this.changePasswordForm.errors?.notSame" class="invalid-feedback">
                                    Hasła nie są identyczne!
                                </div>
                            </div>
                            <button (click)="onSubmitChangePasswordClick()" [disabled]="!this.changePasswordForm.valid" type="submit" class="btn btn-success">Ustaw nowe hasło</button>
                        </form>
                    </div>
                </div>
            </ng-template>
        </li>
        <li ngbNavItem>
            <a ngbNavLink>Twoje poradniki</a>
            <ng-template ngbNavContent>
                <div class="row py-4">
                    <div class="col">
                        
                        <div *ngIf="!this.userTutorials" class="d-flex justify-content-center my-5"><div class="spinner-border text-primary spinner-big" role="status"><span class="sr-only">Loading...</span></div></div>

                        <h5 *ngIf="this.userTutorials && this.userTutorials.length == 0" class="d-flex justify-content-center my-5">Nie dodałeś jeszcze żadnych poradników.</h5>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">

                                    <div class="col" *ngFor="let tutorial of this.userTutorials" >
                                        <app-tutorial-card [tutorial]="tutorial" [editButton]="true" [reason]="true"></app-tutorial-card>
                                    </div>
                                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </li>
    </ul>

    <div [ngbNavOutlet]="nav"></div>

</div>
