<div class="container my-4">

    <h4 class="border-bottom font-weight-bolder py-3">Profil: {{ user.username || '' }}</h4>

    <div class="row">
        <div *ngIf="this.user" class="col mb-4">
            <strong>Pseudonim:</strong> {{ user.username }}<br />
            <strong>Data dołączenia:</strong> {{ user.regdate | date: 'dd.MM.YYYY' }}<br />
        </div>
    </div>

    <h5 class="border-bottom font-weight-bolder py-3">Poradniki: </h5>

    <div class="row">
        <div *ngIf="this.user" class="col">

            <div *ngIf="!this.userTutorials" class="d-flex justify-content-center my-5"><div class="spinner-border text-primary spinner-big" role="status"><span class="sr-only">Loading...</span></div></div>

            <h5 *ngIf="this.userTutorials && this.userTutorials.length == 0" class="d-flex justify-content-center my-5">Ten żytkownik nie dodał jeszcze żadnych poradników.</h5>

            <div class="row">
                <div class="col-sm-12">
                    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">

                        <div class="col" *ngFor="let tutorial of this.userTutorials" >
                            <app-tutorial-card [tutorial]="tutorial"></app-tutorial-card>
                        </div>
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
