<ngb-rating [readonly]="readonly" [(rate)]="rate" [max]="max" (rateChange)="onRateChange()">
    <ng-template let-fill="fill" let-index="index">
        <span class="star" [class.filled]="fill" [ngClass]="this.adClass">&#9733;</span>
    </ng-template>
</ngb-rating>
