<div class="container my-4">

    <h4 class="border-bottom font-weight-bolder py-3">Panel administracyjny</h4>

    <ul ngbNav #nav="ngbNav" class="nav-tabs" (activeIdChange)="this.onNavChange($event)">
        <li ngbNavItem domId="pendingTutorialsNavItem">
            <a ngbNavLink>Poradniki do weryfikacji</a>
            <ng-template ngbNavContent>
                
                <div class="row py-4">
                    <div class="col">

                        <div *ngIf="!this.pendingTutorials" class="d-flex justify-content-center my-5"><div class="spinner-border text-primary spinner-big" role="status"><span class="sr-only">Loading...</span></div></div>

                        <h5 *ngIf="this.pendingTutorials && this.pendingTutorials.length == 0" class="d-flex justify-content-center my-5">Brak nowych poradników do zweryfikowania.</h5>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">

                                    <div class="col" *ngFor="let tutorial of this.pendingTutorials" >
                                        <app-tutorial-card [tutorial]="tutorial" [editButton]="true"></app-tutorial-card>
                                    </div>
                                
                                </div>
                            </div>
                        </div>


                    </div>
                </div>

            </ng-template>
        </li>

        <li ngbNavItem domId="categoriesNavItem">
            <a ngbNavLink>Zarządzanie kategoriami</a>
            <ng-template ngbNavContent>
                
                <div class="row py-4">
                    <div class="col">

                        <div *ngIf="!this.categories" class="d-flex justify-content-center my-5"><div class="spinner-border text-primary spinner-big" role="status"><span class="sr-only">Loading...</span></div></div>

                        <div class="row">
                            <div class="col-sm-6">

                                <h4>Lista kategorii</h4>

                                <ul>
                                    <li *ngFor="let category of categories">
                                        {{ category.name }} - 
                                        <a (click)="onEditCategoryClick(editModal, category)"><i class="bi bi-pencil pointer"></i></a> / 
                                        <a (click)="onDeleteCategoryClick(category)"><i class="bi bi-trash pointer"></i></a>
                                        
                                        <ul *ngIf="category.childrens && category.childrens.length > 0">
                                            <li *ngFor="let children of category.childrens">
                                                {{ children.name }} - 
                                                <a (click)="onEditCategoryClick(editModal, children)"><i class="bi bi-pencil pointer"></i></a> / 
                                                <a (click)="onDeleteCategoryClick(children)"><i class="bi bi-trash pointer"></i></a>
                                            </li>
                                        </ul>
                                    </li>
                                    
                                </ul>
                            </div>

                            <div class="col-sm-6">
                                <h4>Dodaj nową kategorię</h4>
                                <form [formGroup]="this.createCategoryForm">
                                    <div class="form-group">
                                        <label for="category_name">Nazwa</label>
                                        <div class="input-group">
                                            <input formControlName="category_name" id="category_name" class="form-control" placeholder="Nazwa kategorii" name="category_name" />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="category_name">Kategoria nadrzędna</label>
                                        <div class="input-group">
                                            <select formControlName="parent_category" id="category_parent" class="form-control" name="category_parent">
                                                <option value="">Brak - kategoria główna</option>
                                                <option *ngFor="let category of categories" value="{{ category.id }}">{{ category.name }}</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="text-right">
                                        <button type="button" class="btn btn-success" (click)="this.onCreateCategoryClick()">Stwórz</button>
                                    </div>
                                </form>
                            </div>
                        </div>


                    </div>
                </div>

                <ng-template #editModal let-modal>
                    <div class="modal-header">
                        <h4 class="modal-title" id="modal-basic-title">Edytuj kategorię</h4>
                        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form [formGroup]="this.editCategoryForm">
                            <div class="form-group">
                                <label for="category_name">Nazwa</label>
                                <div class="input-group">
                                    <input formControlName="category_name" id="category_name" class="form-control" placeholder="Nazwa kategorii" name="category_name" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="category_name">Kategoria nadrzędna</label>
                                <div class="input-group">
                                    <select formControlName="parent_category" id="category_parent" class="form-control" name="category_parent">
                                        <option value="">Brak - kategoria główna</option>
                                        <option *ngFor="let category of categories" value="{{ category.id }}">{{ category.name }}</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" (click)="modal.close('Save')">Zapisz</button>
                    </div>
                </ng-template>

            </ng-template>
        </li>

    </ul>

    <div [ngbNavOutlet]="nav"></div>

</div>