/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

.logo-container {
    line-height: 42px;
}

.logo {
    font-family: 'Russo One', sans-serif;
    font-size: 42px;
    user-select: none;
}

.spinner-big {
    width: 50px;
    height: 50px;
}

.comment-container {
    font-size: 14px;
}

.pointer {
    cursor: pointer;
}

.tutorial-card-flag {
    height: 20px;
    border: 1px solid rgba(0,0,0,0.1);
    margin-bottom: 1px;
}

.font-size-12 {
    font-size: 12px !important;
}

.font-size-14 {
    font-size: 14px !important;
}

.font-size-12 .star {
    font-size: 20px !important;
}

.comment-thumbnail {
    width: 100px;
    height: 100px;
    background-size: cover;
}

.carousel-cell img {
    max-width: 90% !important;
    max-height: 90% !important;
    width: auto !important;
    object-fit: contain !important;
}

.navbar-dark #main-navbar .nav-link {
    color: rgba(255, 255, 255, 0.75);
}

.navbar-dark #main-navbar .nav-link:hover,
.navbar-dark #main-navbar .nav-link:focus {
    color: rgba(255, 255, 255, 1);
}

.font-style-italic {
    font-style: italic;
}