<div class="container my-4">

    <h4 class="border-bottom font-weight-bolder py-3">Dodaj nowy poradnik</h4>

    <app-tutorial-form (onSubmitForm)="this.onSubmitForm($event)" (onUploadComplete)="this.onUploadComplete($event)"></app-tutorial-form>

</div>