<div class="container my-4">
	<div class="row">
		<div class="col-sm-6">
			<h4 class="border-bottom font-weight-bolder py-3">Często odwiedzane</h4>

			<div *ngIf="!topViewsTutorials" class="d-flex justify-content-center my-5"><div class="spinner-border text-primary spinner-big" role="status"><span class="sr-only">Loading...</span></div></div>

			<!-- TOP OF VIEWS -->
			<app-tutorial-card *ngFor="let tutorial of topViewsTutorials" [tutorial]="tutorial"></app-tutorial-card>
			
			<div class="text-center">
				<a routerLink="/tutorials/all" [queryParams]="{sort: 'views'}" class="btn btn-sm btn-primary font-weight-bold">Zobacz więcej</a>
			</div>

		</div>
		<div class="col-sm-6">
			<div class="row">
				<div class="col-sm-12">
					<h4 class="border-bottom font-weight-bolder py-3">Najnowsze</h4>

					<div *ngIf="!lastTutorials" class="d-flex justify-content-center my-5"><div class="spinner-border text-primary spinner-big" role="status"><span class="sr-only">Loading...</span></div></div>

					<!-- THE NEWEST TUTORIALS -->
					<app-tutorial-card *ngFor="let tutorial of lastTutorials" [tutorial]="tutorial"></app-tutorial-card>

					<div class="text-center">
						<a routerLink="/tutorials/all" [queryParams]="{sort: 'added'}" class="btn btn-sm btn-primary font-weight-bold">Zobacz więcej</a>
					</div>
				</div>
				<div class="col-sm-12 mt-4">
					<h4 class="border-bottom font-weight-bolder py-3">Popularne tagi</h4>

					<div class="text-center">

						<a *ngFor="let tag of this.topTags" [routerLink]="'/tutorials/tag/'+tag.name" href="#" class="badge badge-secondary py-2 px-3 mr-1 my-1">{{ tag.name }} ({{ tag.tutorials_cnt }})</a>

					</div>
				</div>

				<div class="col-sm-12 mt-4">
					<h4 class="border-bottom font-weight-bolder py-3">Nowe recenzje</h4>

					<div *ngIf="!lastComments" class="d-flex justify-content-center"><div class="spinner-border text-primary spinner-big" role="status"><span class="sr-only">Loading...</span></div></div>

					<div *ngFor="let comment of lastComments" class="row">
						<div class="col-sm-12 comment-container">
							<a class="font-weight-bold" [routerLink]="'/tutorials/'+comment.tutorialid">{{ comment.tutorial_title }}</a>
							
							<p class="mb-1 font-style-italic">{{ comment.content }} </p>
							
							<div class="row font-size-12 mb-1">
								<div class="col-sm-6">
									Przydatność:
									<app-rating [readonly]="true" [rate]="comment.usefulness" max="5" adClass="success" ></app-rating>
								</div>
								<div class="col-sm-6 text-sm-right">
									Trudność: 
									<app-rating [readonly]="true" [rate]="comment.difficulty" max="5" adClass="danger"></app-rating>
								</div>
							</div>

							<app-comments-gallery *ngIf="comment.files" [photoJSON]="comment.files"></app-comments-gallery>
							
							<div class="row mb-1">
								<div class="col-sm-6">
									<small class="text-muted">przez <strong>{{ comment.user_username }}</strong></small>
								</div>
								<div class="col-sm-6 text-right">
									<small class="text-muted">{{ comment.created | date:'short' }}</small>
								</div>
							</div>
			
							<div class="border-bottom mb-3"></div>
						</div>
					</div>
				</div>

			</div>
			

		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 mt-4">
			<app-statistics></app-statistics>	
		</div>
	</div>
</div>
