<div *ngIf="uploading || uploadProgress > 0">
    <div class="alert alert-success">Dane poradnika zostały zapisane.</div>
    <div *ngIf="!this.uploaded" class="alert alert-warning">Trwa przesyłanie pliku wideo... Nie zamykaj okna przeglądarki!</div>
    <div *ngIf="this.uploaded" class="alert alert-success">Film został przesłany i czeka na weryfikację przez administracje. Możesz już zamknąć to okno.</div>

    <ngb-progressbar type="info" height="30px" [striped]="true" [animated]="true" [value]="this.uploadProgress">{{ this.uploadProgress }}%</ngb-progressbar>
</div>

<form *ngIf="!this.uploading" [formGroup]="tutorialForm" class="user">

    <div *ngIf="this.editing && this.tutorial && this.tutorial.reason" class="alert alert-warning"><b>Powód odrzucenia: </b>{{ this.tutorial.reason }}</div>

    <div class="form-group">
        <label for="tutorialType">Wybierz typ poradnika</label>
        <select class="form-control" id="tutorialType" formControlName="type" [attr.disabled]="this.editing ? true : null">
            <option value="{{ tutorialTypes.Video }}">Film</option>
            <option value="{{ tutorialTypes.Text }}">Tekstowy</option>
            <!-- <option value="{{ tutorialTypes.StepByStep }}" disabled>Krok po kroku</option> -->
        </select>
    </div>

    <div *ngIf="tutorialForm.value.type == tutorialTypes.Video">
        <div *ngIf="!this.editing || (this.tutorial && !this.tutorial.filename)" class="form-group">
            <label for="tutorialUrl">Podaj adres URL do filmu:</label>
            <input type="text" class="form-control form-control-user"
                id="tutorialUrl" formControlName="url" placeholder="Wklej bezpośredni odnośnik do wideo (YouTube/Vimeo)" aria-describedby="urlHelp"
                [class.is-invalid]="!tutorialForm.get('url').valid"
                [class.is-valid]="tutorialForm.get('url').value && tutorialForm.get('url').value.trim() != '' && tutorialForm.get('url').valid">
            
            <small id="urlHelp" class="form-text text-muted">Adres w formacie: https://www.youtube.com/embed/... lub https://player.vimeo.com/video/...</small>
        </div>

        <div *ngIf="!this.editing" class="form-group">
            <label for="tutorialFile">lub prześlij plik wideo:</label>
            <input type="file" class="form-control-file" (change)="this.onFileChange($event)" name="tutorialFile" id="tutorialFile" aria-describedby="fileHelp"
                [accept]="this.accept_formats.join(',')" multiple="false" />
            
            <small id="fileHelp" class="form-text text-muted">Maksymalny rozmiar pliku to {{ this.max_size_mb }}MB. Obsługiwane formaty: {{ this.accept_formats.join(', ') }}</small>

        </div>
    </div>

    <strong *ngIf="this.editing && tutorialForm.value.type == tutorialTypes.Video && this.tutorial && this.tutorial.filename" class="text-success">Przesłany plik: {{ this.tutorial.filename }}</strong>
    
    <div *ngIf="tutorialForm.value.type == tutorialTypes.Text">
        <editor
            formControlName="content"
            apiKey="{{ tiny_api_key }}"
            [init]="{
                height: 500,
                menubar: false,
                plugins: [
                    'advlist autolink lists link image charmap print preview anchor',
                    'searchreplace visualblocks code fullscreen',
                    'insertdatetime media table paste code help'
                ],
                toolbar:
                    'undo redo | formatselect | bold italic underline forecolor backcolor | \
                    alignleft aligncenter alignright alignjustify | \
                    bullist numlist outdent indent | link  image | removeformat'
            }"
        ></editor>
    </div>

    <div class="row mt-5">

        <div class="col-sm-6">
            <div class="form-group">
                <label for="tutorialTitle">Nazwa poradnika</label>
                <input type="text" class="form-control form-control-user" formControlName="title" [class.is-invalid]="!tutorialForm.get('title').valid"
                    id="tutorialTitle" placeholder="Krótka, ale treściwa nazwa pozwoli łatwiej odnaleźć poradnik" maxlength="128" required />
            </div>
    
            <div class="form-group">
                <label for="tutorialDescription">Krótki opis poradnika</label>
                <textarea type="text" class="form-control form-control-user" formControlName="description" [class.is-invalid]="!tutorialForm.get('description').valid"
                    id="tutorialDescription" rows="2" maxlength="255" required></textarea>
            </div>
    
            <div class="form-group">
                <label for="tutorialCategory">Wybierz kategorię</label>
                <select class="form-control" id="tutorialCategory" formControlName="categoryid" (change)="onChangeCategory($event.target.value)"
                    [class.is-invalid]="!tutorialForm.get('categoryid').valid" required>
                    <ng-template ngFor let-category [ngForOf]="categories">
                        <option value="{{category.id}}">{{category.name}}</option>
                        <option *ngFor="let children of category.childrens" value="{{ children.id }}">&nbsp;&nbsp;- {{ children.name }}</option>
                    </ng-template>
                    
                </select>
            </div>
    
            <div class="form-group">
                <label for="tutorialLang">Język poradnika</label>
                <select class="form-control" id="tutorialLang" formControlName="lang" [class.is-invalid]="!tutorialForm.get('lang').valid" required>
                    <option value="pl">Polski</option>
                    <option value="us">Angielski</option>
                </select>
            </div>
        </div>

        <div class="col-sm-6">

            <div class="form-group">
                <span>Trudność poradnika</span>
                <br />
                <app-rating [readonly]="false" [(rate)]="difficulty" [max]="5" ></app-rating>
            </div>

            <div class="form-group">

                <label class="mb-0" for="tutorialTag">Wpisz tagi ułatwiające wyszukiwanie (oddziel przecinkami)</label><br />
                <span *ngFor="let tag of tags" (click)="removeTagClick(tag)" class="badge badge-secondary pointer mr-1 my-1">{{ tag }} <i class="bi bi-x"></i></span>
                <input id="tutorialTag" name="tutorialTag" type="text" class="form-control" (keyup)="onKeyUp($event)" />
            </div>
            <div class="form-group" formArrayName="extrafields">
                Dodatkowe pola:

                <div class="form-group" *ngFor="let extrafield of extraFields; let i = index">
                    <label for="extrafield_{{ extrafield.id }}">{{ extrafield.name }}</label>
                    <select *ngIf="extrafield.type == extraFieldTypes.Options" class="form-control" [formControlName]="i" id="extrafield_{{ extrafield.id }}" name="extrafields[]">
                        <option *ngFor="let option of extrafield.options" value="{{ option }}">{{ option }}</option>
                    </select>
                    <input *ngIf="extrafield.type == extraFieldTypes.ShortText" type="text" class="form-control" [formControlName]="i" id ="extrafield_{{ extrafield.id }}" name="extrafields[]" />
                </div>
            </div>

        </div>

    </div>

    <div class="form-group">
        <div class="custom-control custom-checkbox">
            <input type="checkbox" formControlName="statement" class="custom-control-input" id="statementCheckbox" >
            <label class="custom-control-label" for="statementCheckbox">Oświadczam, że jestem właścicielem zamieszczanych tutaj treści lub posiadam pełne prawa do ich rozpowszechniania.</label>
        </div>
    </div>

    <div class="mb-5"></div>

    <div class="alert alert-warning text-center" *ngIf="this.editing">Zapisanie zmian spowoduje ukrycie poradnika i ponowne przesłanie go do weryfikacji.</div>
    
    <button (click)="submitFormClick()" [disabled]="!this.tutorialForm.valid" class="btn btn-success btn-block rounded-pill py-3 mb-5">{{ this.editing ? 'Zapisz zmiany' : 'Dodaj poradnik' }}</button>
</form>
