<div class="">

	<div class="container">

		<!-- Outer Row -->
		<div class="row justify-content-center">

			<div class="col-xl-10 col-lg-12 col-md-9">

				<div class="card o-hidden border-0 shadow-lg my-5">
					<div class="card-body p-0">
						<!-- Nested Row within Card Body -->
						<div class="row">
							<div class="col-lg-12">
								<div class="p-5">
									<div class="text-center">
										<h1 class="h4 text-gray-900 mb-4">Załóż nowe konto, aby zacząć dzielić się doświadczeniami!</h1>
									</div>

									<div *ngIf="errorMessage" class="alert alert-danger" role="alert">{{ errorMessage }}</div>
									<div *ngIf="successMessage" class="alert alert-success" role="alert">{{ successMessage }}</div>

									<form [formGroup]="registerForm" class="user">
										<div class="form-group">
											<input type="text" formControlName="firstname" class="form-control form-control-user"
												id="firstnameInput" aria-describedby="firstnameHelp"
												placeholder="Pseudonim" [class.is-invalid]="!registerForm.get('firstname').valid" required>
										</div>
                                        <div class="form-group">
											<input type="email" formControlName="email" class="form-control form-control-user"
												id="emailInput" aria-describedby="emailHelp"
												placeholder="Adres email" [class.is-invalid]="!registerForm.get('email').valid" required>
										</div>
										<div class="form-group">
											<input type="password" formControlName="password" class="form-control form-control-user"
												id="passwordInput" placeholder="Hasło" [class.is-invalid]="!registerForm.get('password').valid" required>
										</div>
                                        <div class="form-group">
											<input type="password" formControlName="confirmPassword" class="form-control form-control-user"
												id="confirmPasswordInput" placeholder="Potwierdź hasło" [class.is-invalid]="!registerForm.get('confirmPassword').valid || registerForm.errors?.notSame" required>
                                            <div *ngIf="registerForm.errors?.notSame" class="invalid-feedback">
                                                Hasła nie są identyczne!
                                            </div>
										</div>
										<div class="form-group">
											<div class="custom-control custom-checkbox">
												<input type="checkbox" formControlName="terms" class="custom-control-input" id="termsCheckbox" required>
												<label class="custom-control-label" for="termsCheckbox">Zapoznałem się i akceptuję regulamin serwisu.</label>
											</div>
										</div>
										<div class="form-group">
											<re-captcha formControlName="recaptcha"></re-captcha>
										</div>
										<button [disabled]="!this.registerForm.valid" (click)="this.onSubmitRegisterForm()" class="btn btn-success btn-block rounded-pill">Załóż konto</button>
									</form>
									<hr>
									<div class="text-center">
										<a class="small" routerLink="/login" href="#">Masz już konto? Zaloguj się!</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>

		</div>

	</div>

</div>